<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <!-- base:css -->
  <link rel="stylesheet" href=" {% static 'panel/vendors/typicons/typicons.css' %} ">
  <link rel="stylesheet" href=" {% static 'panel/vendors/css/vendor.bundle.base.css' %} ">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href=" {% static 'panel/css/vertical-layout-light/style.css' %} ">
  <!-- endinject -->
  <link rel="shortcut icon" href=" {% static 'panel/images/favicon.png' %} " />
</head>

<body>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">

          <div class="col-lg-4 mx-auto">


            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
<!--              <div class="brand-logo">-->
<!--                <img src=" {% static 'panel/images/logo-dark.svg' %} " alt="logo">-->
<!--              </div>-->
<!--              <h4>Hello! let's get started</h4>-->
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <form method="post" class="pt-3">
                  {% csrf_token %}

                <div class="form-group">
                  <input type="text" name="uname" class="form-control form-control-lg"  placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" name="pass" class="form-control form-control-lg"  placeholder="Password">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-dark"> Login </button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
<!--                  <div class="form-check">-->
<!--                    <label class="form-check-label text-muted">-->
<!--                      <input type="checkbox" class="form-check-input">-->
<!--                    </label>-->
<!--                  </div>-->
                  <a href="{% url 'student_register' %}" class="auth-link text-black">Register user</a>
<!--
                </div>
           <div class="mb-2">-->
<!--                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">-->
<!--                    <i class="typcn typcn-social-facebook mr-2"></i>Connect using facebook-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div class="text-center mt-4 font-weight-light">-->
<!--                  Don't have an account? <a href=" {% static 'register.html' %} " class="text-primary">Create</a>-->
<!--                </div>-->
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src=" {% static 'panel/vendors/js/vendor.bundle.base.js' %} "></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src=" {% static 'panel/js/off-canvas.js' %} "></script>
  <script src=" {% static 'panel/js/hoverable-collapse.js' %} "></script>
  <script src=" {% static 'panel/js/template.js' %} "></script>
  <script src=" {% static 'panel/js/settings.js' %} "></script>
  <script src=" {% static 'panel/js/todolist.js' %} "></script>
  <!-- endinject -->
</body>

</html>
