
{% extends 'admin_home.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col">Standard</th>
      <th scope="col">Time</th>
      <th scope="col">   </th>
    </tr>
  </thead>
  <tbody>
  {% for n in data %}
    <tr>
      <th scop="row">{{forloop.counter}}</th>
<!--      <td>{{n.roll_no}}</td>-->
      <td>{{n.date}}</td>
      <td>{{n.subject}}</td>
      <td>{{n.standard}}</td>
      <td>{{n.time}}</td>
      <td> <a href=" {% url 'exam_questions' %}"> attend</a></td>


    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}
